.Avatar {
    float: left;
    padding: 1em;
}

.Avatar-img {
    max-height: 10em;
    max-width: 10em;
    border-radius: 100%;
}

.Avatar-name {
    font-weight: bold;
    color: #3792c1;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    padding: .5em;
}

.Avatar-desc {
    display: block;
    display: -webkit-box;
    max-width: 300px;
    height: 12*3;
    margin: 0 auto;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}